body{
    background-color: red;
}

fieldset {
    border: 2px solid darkgreen;
    padding: 1em;
}

.jumbotron{
    background-color: darkgreen;
    color: white;

}

legend{
    font-weight: bold;
    color:darkgreen;
    font-variant: small-caps;
    font-size: 125%;
    text-align: center;
    width:30%;
}

#main{
    background-color: white;
    margin:0 10em;
    padding: 0 5em 3em;
}

#submit{
    margin-top: 1em;
    background-color: darkgreen;
}

